* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 20px;
}
.cards {
  padding: 60px;
}
h2{
  margin:20px 0 0 250px;
}
.card {
  width: 60%;
  padding: 40px;
  position: relative;
  margin: auto;
  margin-bottom: 80px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.main_img_container {
  width: 100%;
  margin-top: 20px;
}
.main_img {
  width: 100%;
  object-fit: contain;
  height: 300px;
}

header {
  display: flex;
  margin-bottom: 20px;
}
footer {
  padding-top: 5px;
}
.user_info {
  font-family: "Gotham Pro";
  vertical-align: middle;
  margin: 10px 0 0 15px;
}
p{
  font-size: 13px;
}

/* @media screen and (min-width: 580px) and (max-width:900px) {
body{
background-color: green;
}
} */
